.pageContainer {
  display: flex;
  height: calc(100vh - var(--topnav-height, 56px));
  width: 100%;
  overflow: hidden;
}

.workspaceContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.canvasArea {
  flex-grow: 1;
  height: 100%;
  position: relative;
}
